<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/29f008667d.js" crossorigin="anonymous"></script>
    <title>ShopKeeper Coming soon!</title>
</head>
<body>
    <div class="container">
        <div class="nav">
            <nav>
                <div class="logo">
                    <span>ShopKeeper</span>
                </div>
                <div class="menu">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
                <div class="button">
                    <a href="/reservation"  id="reservation">Reservation</a>
                </div>
            </nav>
        </div>
        <div class="content">
            <div class="header">
                <h1>
                    Manage inventory. <br> Maximize profit.
                </h1>
            </div>
            <div class="write-up">
                <p>
                    Struggling with stockouts, overstocking, 
                    or manual tracking errors? Our inventory management software 
                    is your solution. We help businesses like yours gain complete 
                    control over their products, from warehouse to customer.
                    Whether you're in retail, e-commerce, manufacturing, or distribution, 
                    our software is designed to simplify your inventory, enhance your bottom line,
                    and help you focus on what matters most: growing your business.
                </p>
            </div>
            <div class="buttons">
                <a href="https://wa.me/2348137328131?text=Hello%2C%20I%20would%20like%20to%20know%20more%20about%20your%20services." class="whatsApp"><i class="fab fa-whatsapp"></i> Contact Us</a>
                <a href="/reservation" id="reservation">Reservation</a>
            </div>
        </div>
    </div>
</body>
</html>